* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Home page */

.logo {
  width: 80px;
  border-radius: 50%;
}

.dropdown-item:active {
  color: #fff !important;
  background-color: #212529 !important;
}

.home-project-container {
  position: relative;
  background: url("./restaurant-menu-app/assests/images/main-bg.png") no-repeat
    center;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

header {
  backdrop-filter: blur(1.5px);
  position: absolute;
  top: 50%;
  left: 8%;
}

.home-title h1 {
  color: #1c1a1a;
  font-size: 45px;
  font-weight: 600;
}

.home-title h2 {
  color: #353434;
  font-size: 25px;
  font-weight: 600;
}

.home-title span {
  font-weight: 700;
  font-family: "Caveat", cursive;
  line-height: 50px;
  letter-spacing: 2px;
}

/* Footer */

.name {
  font-size: 15px;
}

.name a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s ease;
}

.name a:hover {
  color: rgb(107, 108, 109);
}

.nav-item a {
  color: #ffffff;
}

.nav-item a:hover {
  color: rgb(107, 108, 109);
}

/* Food Menu Page */

.food-menu-container {
  background: url("./restaurant-menu-app/assests/images/menu-bg.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.food-menu h1 {
  font-size: 36px;
  text-transform: uppercase;
  padding: 40px 0;
  color: #847276;
  font-weight: 600;
}

.food-menu-item {
  padding-block: 70px;
}

.food-menu-item h2 {
  font-size: 22px;
}

.food-menu-item p {
  max-width: 80%;
  font-size: 18px;
  margin-left: 40px;
  padding-left: 40px;
  color: #847276;
}

.food-menu-item a {
  text-decoration: none;
  color: #474646;
}

.food-menu-item a:hover {
  text-decoration: none;
  color: #847276;
}

.place-order:hover {
  background-color: #3d3d3d !important;
}

/* About page */

.about-quote-bg {
  background: url("./restaurant-menu-app/assests/images/about-quotes-bg.png")
    no-repeat top;
  background-size: cover;
}

.about-map-container {
  overflow: hidden;
}

/* Contact page */

/* Contact form */

.contact-form {
  margin: 0 auto;
  background-color: #f8f9fa;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  outline: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form textarea {
  height: 150px;
}

/* Food option page */

.menu-item-img img {
  width: 100%;
}

.chocolate-desc {
  background: url("./restaurant-menu-app/assests/images/desserts/chocolate-desc-bg.png")
    no-repeat top;
  background-size: cover;
}

.tiramisu-desc {
  background: url("./restaurant-menu-app/assests/images/desserts/tiramisu-desc-bg.png")
    no-repeat top;
  background-size: cover;
}

.chocolate-desc h2 {
  color: #fff;
}

.chocolate-desc p {
  padding-top: 55px;
}

/* Beverage Item menu page*/

.beverage-title {
  padding-top: 48px;
}

.beverage-menu-item {
  margin: 0 30px;
}

.beverage-menu-item li,
.side-order li {
  list-style-type: none;
}

/* Drinks options page */

.beverage-item img {
  max-width: 160px !important;
  backdrop-filter: blur(15px);
  background-color: #b8b7b7;
  border-radius: 20px;
  padding: 12px;
  margin-top: 12px;
}

.beverage-item p {
  margin-right: 30px;
  font-weight: 600;
}

/* Food Item Option page*/

/* Carousel display */

.carousel-item img {
  width: 100%;
  height: auto;
}

/* Food categories */

.spikes {
  position: relative;
  color: #000;
}

.spikes::before,
.spikes::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  background: linear-gradient(to right, #212529, #474a4e, #fdfdfc);
  -webkit-mask-image: url("./restaurant-menu-app/assests/triangle.svg");
  -webkit-mask-size: 15px 50px;
  mask-image: url("./restaurant-menu-app/assests/triangle.svg");
  mask-size: 15px 50px;
}

.spikes::before {
  top: 0;
}

.spikes::after {
  bottom: 0;
  transform: rotate(0.5turn);
}

@media screen and (max-width: 767px) {
  .food-menu-container p {
    color: #000;
    font-weight: 400;
    backdrop-filter: blur(1px);
  }
}

@media screen and (max-width: 575px) {
  .home-title h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px !important;
  }
}

@media screen and (max-width: 536px) {
  .home-menu-btn {
    font-size: 12px !important;
  }

  footer img.logo {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .food-menu-container {
    background: none;
  }
}

@media screen and (max-width: 375px) {
  .home-title h1 {
    font-size: 25px;
  }

  .home-title h2 {
    font-size: 14px;
  }
}
